- var version = '0.0.1'

doctype html
html(lang="ja")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title UpperHand Game
    link(rel="icon" type="image/png" href="ball0.png")
    link(rel="stylesheet" type="text/css" href=`upperhand-${version}.css`)
    script(src=`upperhand-${version}.js` defer)
  body
    #board
      .board
      .score
        span(data-status="1")
        span(data-status="2")
