- var version = '0.0.1'

doctype html
html(lang="ja")
  head
    title UpperHand Game
    link(rel="stylesheet" type="text/css" href=`upperhand-${version}.css`)
    script(src=`upperhand-${version}.js` defer)
  body
    #board
      .board
      .score
        span.active 0
        span 0
